<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967043145503-r394ae40m43ae0apfsgqmc1q4g9h901q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967043145503-r394ae40m43ae0apfsgqmc1q4g9h901q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>967043145503-kqm8lpmk8e1oqjgk05dorgjit5natj4a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDSb2INw19Wcvza9ZCdA6VZZXB0yV48VMs</string>
	<key>GCM_SENDER_ID</key>
	<string>967043145503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.faisal.userdemo</string>
	<key>PROJECT_ID</key>
	<string>userdemo-d04df</string>
	<key>STORAGE_BUCKET</key>
	<string>userdemo-d04df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967043145503:ios:a4bb7989f79e6b80ef9a2a</string>
</dict>
</plist>