<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802547165447-ikdeql60a4sjrppp8a98r8orfv745nf5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802547165447-ikdeql60a4sjrppp8a98r8orfv745nf5</string>
	<key>API_KEY</key>
	<string>AIzaSyBaAuuNeubpEGLD1kJJeoVC3zA34BlVt-U</string>
	<key>GCM_SENDER_ID</key>
	<string>802547165447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.faisal.userdemo</string>
	<key>PROJECT_ID</key>
	<string>minproj-c657c</string>
	<key>STORAGE_BUCKET</key>
	<string>minproj-c657c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802547165447:ios:1867a97c960a15c6367da2</string>
</dict>
</plist>